|Parts | The complete index for *Catching AI with its pants down* |
|-------|--------|
| Pant 1 | [**Some Musings About AI**](/some-musings-about-ai.html) |
| Pant 2 | [**Understand an Artificial Neuron from Scratch**](/understand-an-artificial-neuron-from-scratch.html)|
| Pant 3 | [**Optimize an Artificial Neuron from Scratch**](/optimize-an-artificial-neuron-from-scratch.html)|
| Pant 4 | [**Implement an Artificial Neuron from Scratch**](/implement-an-artificial-neuron-from-scratch.html)|
| Pant 5 | [**Understand a Neural Network from Scratch**](/understand-a-neural-network-from-scratch)|
| Pant 6 | [**Optimize a Neural Network from Scratch**](/optimize-a-neural-network-from-scratch.html)|
| Pant 7 | Implement a Neural Network from Scratch (coming soon)|
| Pant 8 | [**Demonstration of the Models in Action**](/demonstration-of-the-models-in-action.html)|
