|Parts | Catching AI with its pants down |
|-------|--------|
| Pant 1 | [**Some Musings About AI**](/machine-learning/some-musings-about-ai.html) | 
| Pant 2 | [**Understand an Artificial Neuron from Scratch**](/machine-learning/building-an-artificial-neuron-from-scratch.html)| 
| Pant 3 | Optimize an Artificial Neuron from Scratch (coming soon)| 
| Pant 4 | Implement an artificial neuron from scratch (coming soon)|
| Pant 5 | Understand a neural network from scratch (coming soon)|
| Pant 6 | Optimize a neural network from scratch (coming soon)|
| Pant 7 | Implement a neural network from scratch (coming soon)|